adium-theme-ubuntu==0.3.4
appdirs==1.4.0
astroid==1.4.9
attrs==15.2.0
backports-abc==0.5
backports.functools-lru-cache==1.3
backports.shutil-get-terminal-size==1.0.0
backports.weakref==1.0.post1
beautifulsoup4==4.6.0
binaryornot==0.4.0
binwalk==2.1.2b0
bleach==1.5.0
boto==2.48.0
boto3==1.5.7
botocore==1.8.21
Bottleneck==1.2.1
bs4==0.0.1
bz2file==0.98
certifi==2017.11.5
chardet==3.0.4
click==6.7
click-plugins==1.0.3
cligj==0.4.0
configparser==3.5.0
cookiecutter==0.9.0
crypto==1.4.1
cryptography==1.2.3
cssselect==1.0.3
cycler==0.10.0
decorator==4.3.0
deluge==1.3.12
descartes==1.1.0
Django==1.10.4
django-debug-toolbar==1.5
django-nose==1.4.1
docutils==0.14
entrypoints==0.2.2
enum34==1.1.6
f.lux-indicator-applet==1.1.11rc0
Fiona==1.7.11
flux==1.3.4
fs==2.0.0
funcsigs==1.0.2
functools32==3.2.3.post2
futures==3.2.0
gensim==3.2.0
geopandas==0.3.0
gyp==0.1
hatebase==0.4
html5lib==0.9999999
httplib2==0.9.1
idna==2.6
instagram-scraper==1.5.18
ipaddress==1.0.16
ipykernel==4.5.2
ipython==5.1.0
ipython-genutils==0.1.0
ipywidgets==5.2.2
isort==4.2.5
Jinja2==2.8
jmespath==0.9.3
jsonschema==2.5.1
jupyter==1.0.0
jupyter-client==4.4.0
jupyter-console==5.0.0
jupyter-core==4.2.1
lazy==1.2
lazy-object-proxy==1.2.2
lxml==3.7.0
Markdown==2.6.11
MarkupSafe==0.23
matplotlib==2.0.0
mccabe==0.5.3
mechanize==0.2.5
meld==3.14.2
mercurial==3.7.3
mistune==0.7.3
mock==2.0.0
mpld3==0.3
mpmath==0.19
munch==2.2.0
Naked==0.1.31
nbconvert==5.1.1
nbformat==4.2.0
networkx==2.1
nltk==3.2.2
nose==1.3.7
notebook==4.3.1
numexpr==2.6.4
numpy==1.14.0
PAM==0.4.2
pandas==0.19.2
pandas-datareader==0.5.0
pandocfilters==1.4.1
parsel==1.3.1
pathlib2==2.2.1
pbr==1.10.0
pdfshuffler==0.6.0
pexpect==4.2.1
pickleshare==0.7.4
Pillow==3.1.2
plotly==2.5.1
prompt-toolkit==1.0.9
protobuf==3.5.1
ptyprocess==0.5.1
pyasn1==0.1.9
pyasn1-modules==0.0.7
-e git+https://github.com/ethanchewy/pybuddy.git@4c2420f95619e940797d9bacf68f6593e1278c63#egg=pybuddy_xblock
pycurl==7.43.0
PyDispatcher==2.0.5
pygame===1.9.1release
Pygments==2.1.3
pygobject==3.20.0
pyliblzma==0.5.3
pylint==1.6.4
pyOpenSSL==0.15.1
pyparsing==2.1.10
pyPdf==1.13
pypng==0.0.18
pyproj==1.9.5.1
pyserial==3.0.1
python-apt==1.1.0b1+ubuntu0.16.4.1
python-dateutil==2.6.0
python-libtorrent==1.0.7
pytz==2016.10
pyxdg==0.25
PyYAML==3.12
pyzmq==16.0.2
qtconsole==4.2.1
queuelib==1.4.2
requests==2.18.4
requests-file==1.4.3
requests-ftp==0.3.1
s3transfer==0.1.12
scandir==1.4
scikit-learn==0.18.1
scipy==0.18.1
Scrapy==1.5.0
seaborn==0.8.1
selenium==3.11.0
service-identity==16.0.0
Shapely==1.6.3
shellescape==3.4.1
simplegeneric==0.8.1
simplejson==3.10.0
singledispatch==3.4.0.3
six==1.10.0
smart-open==1.5.6
sqlparse==0.2.2
subprocess32==3.2.7
sympy==1.0
tensorflow==1.4.1
tensorflow-tensorboard==0.4.0rc3
terminado==0.6
testpath==0.3
tornado==4.4.2
tqdm==4.19.5
traitlets==4.3.1
Twisted==16.0.0
unity-lens-photos==1.0
urllib3==1.22
virtualenv==15.1.0
w3lib==1.18.0
wcwidth==0.1.7
WebOb==1.6.3
Werkzeug==0.14.1
widgetsnbextension==1.2.6
wrapt==1.10.8
-e git+https://github.com/ethanchewy/ethanchewy.github.com.git@4528b4e2d92c598ba35207af5a2011e6b0d64953#egg=XBlock
-e git+https://github.com/edx/xblock-sdk.git@fd62dc1405a065cd1a8b775020dc1525d2ce401d#egg=xblock_sdk
zope.interface==4.1.3
